*{
    padding: 0;
    margin: 0;

    font-family:'Times New Roman', Times, serif;
}

.container {
    position: relative;
    top: 18vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_canvas {
    position: relative;
}

.sidebar_container {
    position: absolute;

    left: calc(50% + 150px);
    top: calc(50% - 200px);

    height: 90%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

.side_canvas {
    position: absolute;

    left: calc(50% + 150px);
    /* top: calc(50% - 200px); */

    display: flex;
    flex-direction: column;

    align-items: center;
}

.score {
    /* position: absolute;

    left: calc(50% + 150px);
    top: calc(50%); */

    font-size: larger;
    font-weight: bold;
}

.score span {
    font-weight: lighter;
}

#restartBtn {
    /* position: absolute; */
    width: 70px;
    height: 40px;

    font-size: larger;

    /* left: calc(50% + 150px);
    top: calc(50% + 100px); */
}

.controls {
    opacity: 0;
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    bottom: 2vh;
}
.controls button {
    width: 30vw;
    height: 5vh;
}

.measures{
    position: absolute;
    left: 1rem;
    top: 1rem;
}